/* styling the sheep */

.sheep {
  position: relative;
  margin: auto;
  /* //animation: sheep-walking-cycle linear 20s infinite reverse; // moonwalking :')*/
  animation: sheep-walking-cycle linear 3s infinite;
  @include tablet {
    animation: sheep-walking-cycle linear 8s infinite;
  }
  @include desktop {
    animation: sheep-walking-cycle linear 9s infinite;
  }

  .legs {
    position: absolute;
    top: 180px;
    left: 100px;
    z-index: 0;

    .leg {
      background: $sheep-leg-front;
      width: 18px;
      height: 55px;
      border-radius: 7px;
      position: absolute;
      top: 0;
      z-index: 1;
      @include animation-settings(1s, infinite, alternate, linear, forwards);
    }

    .leg-1 {
      @include rotate(10deg);
      @extend .transform-origin-top-left-corner;
      left: 20px;
      animation-name: walk-leg-front-cycle;
    }
    .leg-2 {
      @include rotate(-10deg);
      @extend .transform-origin-top-left-corner;
      left: 40px;
      background: $sheep-leg-back;
      z-index: 0;
      animation-name: walk-leg-back-cycle;
    }
    .leg-3 {
      @include rotate(10deg);
      @extend .transform-origin-top-left-corner;
      left: 95px;
      animation-name: walk-leg-front-cycle;
    }
    .leg-4 {
      @include rotate(-10deg);
      @extend .transform-origin-top-left-corner;
      left: 120px;
      background: $sheep-leg-back;
      z-index: 0;
      animation-name: walk-leg-back-cycle;
    }
  }

  .piece-of-wool {
    position: absolute;
    background: $sheep-color;
    z-index: 2;
  }
  .wool-shadowlayer {
    .piece-of-wool {
      background: $sheep-shadow-color;
      z-index: 1;
      margin-bottom: -8px;
    }
  }

  .wool {
    width: $sheep-wool-base-dimension-width;
    height: $sheep-wool-base-dimension-height;
    position: absolute;
    left: 90px;
    top: 50px;
    z-index: 1;

    .piece-of-wool-1 {
      width: $sheep-wool-base-dimension-width;
      height: $sheep-wool-base-dimension-height;
      border-radius: $sheep-wool-base-dimension-width slash()
        $sheep-wool-base-dimension-height;
      position: relative;
      z-index: 0;
    }
    .piece-of-wool-2 {
      @include circle($sheep-wool-m);
      top: 0;
      left: -5px;
    }
    .piece-of-wool-3 {
      @include circle($sheep-wool-l);
      top: -20px;
      left: 75px;
    }
    .piece-of-wool-4 {
      @include circle($sheep-wool-xl);
      top: -15px;
      left: 25px;
    }
    .piece-of-wool-5 {
      @include circle($sheep-wool-s);
      bottom: -6px;
      left: 40px;
    }
    .piece-of-wool-6 {
      @include circle($sheep-wool-xl);
      bottom: -2px;
      left: 50px;
    }
    .piece-of-wool-7 {
      @include circle($sheep-wool-l);
      bottom: 0;
      left: 0;
    }
    .piece-of-wool-8 {
      @include circle($sheep-wool-m);
      bottom: 10px;
      left: 100px;
    }
    .piece-of-wool-9 {
      @include circle($sheep-wool-s);
      bottom: 45px;
      left: -15px;
    }
    .piece-of-wool-10 {
      @include circle($sheep-wool-l);
      top: 0;
      left: 106px;
    }
  }

  .head {
    position: absolute;
    left: 230px;
    top: 30px;
    z-index: 3;
    width: $sheep-head-width;
    height: $sheep-head-height;
    animation: head-cycle 20s infinite alternate;

    .head-face,
    .head-shadow {
      position: absolute;
      left: 0;
      top: 0;
      background: $sheep-color;
      width: $sheep-head-width;
      height: $sheep-head-height;
      border-radius: ($sheep-head-width - 5) slash() $sheep-head-height;
      z-index: 1;
    }
    .head-shadow {
      background: $sheep-shadow-color;
      margin: 3px 0 0 5px;
      z-index: 0;
    }
    .head-face-front {
      @include oval(
        $sheep-face-front-dimension,
        $sheep-face-front-dimension + 25
      );
      position: absolute;
      left: 50%;
      margin-left: -($sheep-face-front-dimension/2);
      top: 0;
      background: #fff;
      z-index: 3;
    }
    .snout {
      width: 40px;
      height: 40px;
      border-radius: 90%;
      box-shadow: 5px 7px 0 $sheep-face-snout;
      position: absolute;
      z-index: 3;
      left: 35px;
      top: 75px;
    }
    .ear {
      background: $sheep-color-ear;
      width: $sheep-ear-dimension;
      height: $sheep-ear-dimension + 10px;
      border-radius: $sheep-ear-dimension;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      position: absolute;
      z-index: 2;
      left: 15px;
      top: 15px;

      &.ear-1 {
        @include rotate(65deg);
        @extend .transform-origin-top-left-corner;
        animation: ear-1-cycle 20s infinite;
      }
      &.ear-2 {
        @include rotate(5deg);
        @extend .transform-origin-top-left-corner;
        left: $sheep-head-width - $sheep-ear-dimension + 35px;
        animation: ear-2-cycle 20s infinite;

        &.ear-shadow {
          background: $sheep-shadow-color;
          margin: 6px 0 0 6px;
          z-index: 0;
        }
      }
    }
    .eye {
      @include oval($sheep-eye-width, $sheep-eye-height);
      background: $sheep-color-eye;
      position: absolute;
      top: 35px;
      z-index: 5;
      animation: eye-blink-cycle 0.3s 5s 2 alternate;

      .glow {
        @include oval($sheep-eye-width / 3, $sheep-eye-height / 3);
        background: #fff;
        position: absolute;
        left: 47%;
        top: 20%;
        animation: eye-blink-glow-cycle 0.3s 5s 2 alternate;
      }
      &.eye-1 {
        left: 30px;
      }
      &.eye-2 {
        right: 30px;
      }
    }
    .wool-head {
      width: $sheep-head-width;
      position: absolute;
      left: 0;
      top: -4px;
      z-index: 4;

      .piece-of-wool-1 {
        @include circle($sheep-wool-xxs);
        top: 0;
        left: 5px;
      }
      .piece-of-wool-2 {
        @include circle($sheep-wool-xxs);
        top: -10px;
        left: 25px;
      }
      .piece-of-wool-3 {
        @include circle($sheep-wool-xs);
        top: -5px;
        left: 35px;
      }
      .piece-of-wool-4 {
        @include circle($sheep-wool-xxs);
        top: 0;
        left: 65px;
      }
      .wool-shadowlayer {
        .piece-of-wool {
          margin-top: 4px;
          margin-left: 4px;
          margin-bottom: 0;
        }
      }
    }
  }
}
.floor {
  position: relative;
  border-top: 5px solid $color-floor;
  top: 235px;
  width: 100vw;
}
