.blue {
  background-color: aquamarine;
  height: 40px;
  width: 40px;
  border: 1px, solid, grey;
}

.red {
  background-color: red;
  height: 40px;
  width: 40px;
  border: 1px, solid, grey;
}

/* styling this little sheep */

.sheep {
  position: relative;
  margin: auto;
  /* //animation: sheep-walking-cycle linear 20s infinite reverse; // moonwalking */
  animation: sheep-walking-cycle linear 20s infinite;

  .legs {
    position: absolute;
    top: 180px;
    left: 100px;
    z-index: 0;

    .leg {
      background: $sheep-leg-front;
      width: 18px;
      height: 55px;
      border-radius: 7px;
      position: absolute;
      top: 0;
      z-index: 1;
      @include animation-settings(1s, infinite, alternate, linear, forwards);
    }

    .leg-1 {
      @include rotate(10deg);
      @extend .transform-origin-top-left-corner;
      left: 20px;
      animation-name: walk-leg-front-cycle;
    }
    .leg-2 {
      @include rotate(-10deg);
      @extend .transform-origin-top-left-corner;
      left: 40px;
      background: $sheep-leg-back;
      z-index: 0;
      animation-name: walk-leg-back-cycle;
    }
    .leg-3 {
      @include rotate(10deg);
      @extend .transform-origin-top-left-corner;
      left: 95px;
      animation-name: walk-leg-front-cycle;
    }
    .leg-4 {
      @include rotate(-10deg);
      @extend .transform-origin-top-left-corner;
      left: 120px;
      background: $sheep-leg-back;
      z-index: 0;
      animation-name: walk-leg-back-cycle;
    }
  }

  .piece-of-wool {
    position: absolute;
    background: $sheep-color;
    z-index: 2;
  }
  .wool-shadowlayer {
    .piece-of-wool {
      background: $sheep-shadow-color;
      z-index: 1;
      margin-bottom: -8px;
    }
  }

  .wool {
    width: $sheep-wool-base-dimension-width;
    height: $sheep-wool-base-dimension-height;
    position: absolute;
    left: 90px;
    top: 50px;
    z-index: 1;

    .piece-of-wool-1 {
      width: $sheep-wool-base-dimension-width;
      height: $sheep-wool-base-dimension-height;
      border-radius: $sheep-wool-base-dimension-width slash()
        $sheep-wool-base-dimension-height;
      position: relative;
      z-index: 0;
    }
    .piece-of-wool-2 {
      @include circle($sheep-wool-dimension-medium);
      top: 0;
      left: -5px;
    }
    .piece-of-wool-3 {
      @include circle($sheep-wool-dimension-large);
      top: -20px;
      left: 75px;
    }
    .piece-of-wool-4 {
      @include circle($sheep-wool-dimension-xlarge);
      top: -15px;
      left: 25px;
    }
    .piece-of-wool-5 {
      @include circle($sheep-wool-dimension-small);
      bottom: -6px;
      left: 40px;
    }
    .piece-of-wool-6 {
      @include circle($sheep-wool-dimension-xlarge);
      bottom: -2px;
      left: 50px;
    }
    .piece-of-wool-7 {
      @include circle($sheep-wool-dimension-medium);
      bottom: 0;
      left: 0;
    }
    .piece-of-wool-8 {
      @include circle($sheep-wool-dimension-medium);
      bottom: 10px;
      left: 100px;
    }
    .piece-of-wool-9 {
      @include circle($sheep-wool-dimension-small);
      bottom: 35px;
      left: 134px;
    }
    .piece-of-wool-10 {
      @include circle($sheep-wool-dimension-large);
      top: 0;
      left: 106px;
    }
  }

  .head {
    position: absolute;
    left: 32px;
    top: 30px;
    z-index: 3;
    width: $sheep-head-dimension-width;
    height: $sheep-head-dimension-height;
    animation: head-cycle 20s infinite alternate;

    .head-face,
    .head-shadow {
      position: absolute;
      left: 0;
      top: 0;
      background: $sheep-color;
      width: $sheep-head-dimension-width;
      height: $sheep-head-dimension-height;
      border-radius: ($sheep-head-dimension-width - 5) slash()
        $sheep-head-dimension-height;
      z-index: 1;
    }
    .head-shadow {
      background: $sheep-shadow-color;
      margin: 3px 0 0 5px;
      z-index: 0;
    }
    .head-face-front {
      @include oval(
        $sheep-face-front-dimension,
        $sheep-face-front-dimension + 25
      );
      position: absolute;
      left: 50%;
      margin-left: -($sheep-face-front-dimension/2);
      top: 0;
      background: #fff;
      z-index: 3;
    }
    .ear {
      background: $sheep-color-ear;
      width: $sheep-ear-dimension;
      height: $sheep-ear-dimension + 10px;
      border-radius: $sheep-ear-dimension;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      position: absolute;
      z-index: 2;
      left: 15px;
      top: 15px;

      &.ear-1 {
        @include rotate(75deg);
        @extend .transform-origin-top-left-corner;
        animation: ear-1-cycle 20s infinite;
      }
      &.ear-2 {
        @include rotate(5deg);
        @extend .transform-origin-top-left-corner;
        left: $sheep-head-dimension-width - $sheep-ear-dimension + 35px;
        animation: ear-2-cycle 20s infinite;

        &.ear-shadow {
          background: $sheep-shadow-color;
          margin: 6px 0 0 6px;
          z-index: 0;
        }
      }
    }
    .eye {
      @include oval($sheep-eye-dimension-width, $sheep-eye-dimension-height);
      background: $sheep-color-eye;
      position: absolute;
      top: 35px;
      z-index: 5;
      animation: eye-blink-cycle 0.3s 5s 2 alternate;

      .glow {
        @include oval(
          $sheep-eye-dimension-width / 3,
          $sheep-eye-dimension-height / 3
        );
        background: #fff;
        position: absolute;
        left: 47%;
        top: 20%;
        animation: eye-blink-glow-cycle 0.3s 5s 2 alternate;
      }
      &.eye-1 {
        left: 30px;
      }
      &.eye-2 {
        right: 30px;
      }
    }
    .wool-head {
      width: $sheep-head-dimension-width;
      position: absolute;
      left: 0;
      top: -4px;
      z-index: 4;

      .piece-of-wool-1 {
        @include circle($sheep-wool-dimension-xxsmall);
        top: 0;
        left: 5px;
      }
      .piece-of-wool-2 {
        @include circle($sheep-wool-dimension-xsmall);
        top: -10px;
        left: 25px;
      }
      .piece-of-wool-3 {
        @include circle($sheep-wool-dimension-xxsmall);
        top: 0;
        left: 55px;
      }
      .wool-shadowlayer {
        .piece-of-wool {
          margin-top: 4px;
          margin-left: 4px;
          margin-bottom: 0;
        }
      }
    }
  }
}

/* sheep animations */
@keyframes walk-leg-back-cycle {
  0% {
    @include rotate(-10deg);
  }
  100% {
    @include rotate-and-move-x(10deg, -20px);
  }
}
@keyframes walk-leg-front-cycle {
  0% {
    @include rotate(10deg);
  }
  100% {
    @include rotate-and-move-x(-10deg, 20px);
  }
}

@keyframes head-cycle {
  40% {
    @include rotate(10deg);
  }
  100% {
    @include rotate(-5deg);
  }
}
@keyframes ear-1-cycle {
  0%,
  10%,
  20%,
  40%,
  50%,
  100% {
    @include rotate(75deg);
  }
  5%,
  45% {
    @include rotate(85deg);
  }
  15% {
    @include rotate(80deg);
  }
}

@keyframes ear-2-cycle {
  0%,
  10%,
  20%,
  30%,
  40%,
  50%,
  70%,
  80%,
  100% {
    @include rotate(5deg);
  }
  15%,
  75% {
    @include rotate(-5deg);
  }
  45% {
    @include rotate(0deg);
  }
}

@keyframes sheep-walking-cycle {
  0% {
    transform: translateX(650px);
  }
  100% {
    transform: translateX(50px);
  }
}
@keyframes eye-blink-cycle {
  100% {
    height: 2px;
    border-radius: 0;
    margin-top: 5px;
  }
}
@keyframes eye-blink-glow-cycle {
  100% {
    height: 0;
    border-radius: 0;
  }
}

/* base page layout */
body {
  background: #a1d568;
}

/* Utility & Helpers */

// If using webfonts this will reduce the thickness
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// The (in)famous clearfix.
.clearfix {
  zoom: 1;
  &:after,
  &:before {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.transform-origin-top-left-corner {
  transform-origin: top left;
}
